<?xml version="1.0"?>
<!--
/**
 * Copyright © MagoArab. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Customer::customer">
                    <resource id="MagoArab_BlockCustomer::blocked_customers" title="Blocked Customers" sortOrder="100"/>
                </resource>
                <resource id="MagoArab_BlockCustomer::config" title="MagoArab Block Customer Configuration" sortOrder="200"/>
            </resource>
        </resources>
    </acl>
</config>
